body {
    background-color: lightblue;
}

section {
    width: 250px;
    border: 5px solid black;
    padding: 10px;
    background-color: white;
    text-align: center;
}

h1, #score {
    font-family: Arial;
}

.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    background-color: grey;
    box-shadow: inset 0 0 3px black;
    border-radius: 50%;
}

.mole {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    top: 3px;
    left: 3px;
    border: 1px solid grey;
    box-shadow: 0 0 2px black;
}